<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- URL Rewrite for React Router - REMOVED (requires URL Rewrite Module) -->
    <!-- 
      TO FIX: Install URL Rewrite Module from:
      https://www.iis.net/downloads/microsoft/url-rewrite
      
      After installation, uncomment the <rewrite> section below and restart IIS
    -->
    
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
   
  </system.webServer>
</configuration>
